<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Welcome!</title>
    <!-- SPARQL GUI
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/yasgui.css">
    <script src='static/js/yasr.bundled.min.js'></script>
    <script src='static/js/yasqe.bundled.min.js'></script>
    <script src="static/js/sparql.js"></script>-->
  </head>
  <body>
    <article class="corners">
      <div id="yasqe"></div>
      <div id="yasr"></div>
    </article>
<!-- SPARQL GUI -->
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/yasgui.css">
    <script src='static/js/yasr.bundled.min.js'></script>
    <script src='static/js/yasqe.bundled.min.js'></script>
    <script src="static/js/sparql.js"></script>


  </body>
</html>
